HTTP_PORT=
DB_HOST_NAME=
DB_USER_NAME=
DB_PORT=
DB_NAME=
UPDATE_USERS_GROUP_MINUTELY_CRON=
UPDATE_USERS_GROUP_HOURLY_CRON=
UPDATE_USERS_GROUP_DAILY_CRON=
UPDATE_USERS_GROUP_WEEKLY_CRON=
UPDATE_USERS_GROUP_MONTHLY_CRON=